.navigation {
    margin: 0 50px;

    .main-menu {
        display: flex;
        justify-content: space-around;

        .menu-item {
            
            a {
                display: block;
                font-size: 32px;
                text-transform: uppercase;
                font-weight: bolder;
                color: white;
            }
        }
    }
}