.login-form {
    font-size: 14px;
    margin: 300px auto;
    width: 400px;
    border: 3px solid rgb(168, 182, 185);
    background-color: #ffffffb7;
    border-radius: 10px;
    padding: 20px;

    .form-element {
        margin: 10px 0;

        .label {
            font-weight: bold;
            color: #666;
        }

        .check-box-label {
            font-size: 13px;
            margin-left: 3px;
        }

        .text-label {
            display: block;
            margin-bottom: 3px;
            font-weight: bold;
        }

        .text-input {
            width: 100%;
            padding: 5px;
            font-size: 13px;
            color: #444;
            border: 1px solid #bbb;
        }

        .button {
            background-color: rgb(168, 182, 185);
            color: white;
            padding: 2px 12px;
            margin: 20px 0 0 0;
            border-radius: 5px;
            display: block;
            cursor: pointer;
        }

        .login-button {
            width: 100%;
        }

    }
}