body {
  background-color: lightgray;
  background-image: url("./img/back2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;;
}